.container {
  display: flex;
  width: 100vw;
  height: 100%;
}

.right {
  padding: 32px 16px;
  width: 60%;
}

.top {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #151414;
  margin-bottom: 56px;
  border-bottom: 2px solid #adadad;
  padding-bottom: 8px;
}

.middle {
  display: flex;
  flex-direction: column;
}

.middle h2 {
  font-family: "Inter";
  font-weight: 400;
  font-size: 36px;
  line-height: 32px;
  letter-spacing: 0.01em;
  color: #151414;
  margin-bottom: 64px;
}

.last {
  height: 180px;
  width: 180px;
  position: absolute;
  right: 32px;
  border: 1px dashed #000000;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

.last > div:first-of-type {
  font-family: "Inter";
  font-weight: 400;
  font-size: 64px;
  line-height: 32px;
  letter-spacing: 0.01em;
  color: #151414;
}

.last > div:last-of-type {
  font-family: "Inter";
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.01em;
  color: #373737;
  text-align: center;
}

.container thead {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  letter-spacing: 0.01em;
  color: #151414;
  margin-bottom: 16px;
}

.container th:not(:last-of-type) {
  margin-right: 64px;
}

.mintButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #90c8ac;
  color: #fafafa;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  background-color: #90c8ac;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px 0;
  transition: all 0.3s;
  max-width: 320px;
}

.mintButton:not(:last-of-type) {
  margin-bottom: 16px;
}

.mintButton:hover {
  background-color: #fafafa;
  color: #90c8ac;
  border-color: #fafafa;
}
